In [1]:
import pandas as pd
import numpy as np
from alphien.utils import get_all_data, _read_output

In [2]:
def add_features(data):
    data = data.copy()
    data['date'] = pd.to_datetime(data['date'])
    data = data.set_index('date')
    # data['Forward Return Daily'] = data['adjClose'].shift(-1)/data['adjClose']
    # data['Forward Return Quarterly'] = data['adjClose'].shift(-63)/data['adjClose']
    data = data.dropna()
    return data

In [3]:
datalist = list(_read_output().values())
datalist = [data for data in datalist if data.shape[0] > 1]
datalist = [add_features(data) for data in datalist]

In [4]:
df = pd.concat(datalist)
df = df.reset_index()
df = df.sort_values(by=['date','ticker'])
df = df.set_index(['date','ticker'])
df.head(5)

                                  close   high    low   open   volume  \
date                      ticker
1997-01-02 00:00:00+00:00 AAPL    21.00  21.25  20.75  21.12  1277800
                          ABC     45.50  48.00  45.50  48.00    36400
                          ABMD    12.50  12.88  12.13  12.88     2100
                          ABT     50.38  51.13  49.75  50.63  3670400
                          ABX     27.88  28.75  27.75  28.63   833100

                                   adjClose    adjHigh     adjLow    adjOpen  \
date                      ticker
1997-01-02 00:00:00+00:00 AAPL     0.162006   0.163935   0.160078   0.162932
                          ABC      4.526713   4.775434   4.526713   4.775434
                          ABMD     6.250000   6.440000   6.065000   6.440000
                          ABT      6.475751   6.572155   6.394772   6.507886
                          ABX     21.321609  21.986953  21.222189  21.895181

                                  adjVolume  divCash  splitFactor
date                      ticker
1997-01-02 00:00:00+00:00 AAPL    143113743      0.0          1.0
                          ABC        291200      0.0          1.0
                          ABMD         4200      0.0          1.0
                          ABT       7846200      0.0          1.0
                          ABX        833100      0.0          1.0